body {
    margin: 0;
}

footer {
    color: white;
    background-color: rgb(6, 54, 102);
}

.innerContainer{
    display: flex;
    margin-top: 1.85%;
    margin-left: auto;
    margin-right: auto;
    max-width: 85rem;
}

.left {
    width: 50%;
    text-align: left;
    padding: 20px;
    max-height: 20rem;
}

.right {
    padding: 20px;
    width: 50%;
    max-height: 20rem;

}

h4{
    border-left: mediumblue;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 250px;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 100%;
}

a{
    color: rgb(41, 126, 189);
}
@media screen and (max-aspect-ratio: 2/3) {
    .innerContainer{
        display: block;
    }
}
