body {
    margin: 0;
}

.headerContentContainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 85rem;
}

header > div > ul > a > li, header > div > ul > div > a > li {

    padding: 1.5rem 1rem 1.5rem;
    font-size: max(16px, min(1.55rem, 2vw));
}

.rowLinkContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    list-style: none;
    padding: 0;
    margin: 0;
}

header > div > ul > div > div > ul {
    padding-inline-start: 0;
    list-style-type: none;
    overflow: hidden;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
}

header > div > ul > a, header > div > ul > div > a {
    display: block;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fffcfb;
    text-decoration: none;
}

.dropdown-link {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fffcfb;
    text-decoration: none;
}

header > div > ul > a > li:hover, header > div > ul > div > a > li:hover, .dropdown-element:hover {
    background-color: rgb(26, 74, 122);
}

.dropdown-element {
    padding: 11px 15px 11px;
    font-size: 12px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6, 54, 102);
    margin: 0;
    overflow: hidden;
    padding: 0.5rem 0.5rem;
}

.topLogoContainer {
    flex-shrink: 0;
    margin-right: 20px;
    height: min(5rem, max(5vw, 3rem));

}


.aboutUsDropDown {
    float: right;
    overflow: hidden;
}

.aboutUsDropdown-content {
    margin-top: 60px;
    padding-top: 10px;
    background-color: rgb(6, 54, 102);
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.aboutUsDropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.aboutUsDropDown:hover .aboutUsDropdown-content {
    display: block;
}

.scheduleDropDown {
    float: right;
}

.scheduleDropdown-content {
    margin-top: 60px;
    padding-top: 10px;
    background-color: rgb(6, 54, 102);
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.scheduleDropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.scheduleDropDown:hover .scheduleDropdown-content {
    display: block;
}
.headerLogo{
    width: 100%; /* set the width of the image to 100% */
    height: 100%; /* set the height of the image to 100% */
    object-fit: cover; /* scale the image to cover the container while preserving aspect ratio */
}

@media screen and (max-device-width: 834px) {
    .headerContentContainer{
        display: flex;
        flex-direction: column;
    }

    .topLogoContainer {
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .topLogoContainer > a{
        margin-left: auto;
        margin-right: auto;
    }
    .headerLogo{
        width: 30vw;
        height: auto;
    }

    header > div > div > a{
        margin-left: 30vw;
    }

    header > div > ul > a > li, header > div > ul > div > a > li {
        padding: 0.7rem 1rem 0.7rem;
    }
    .rowLinkContainer{
        display: block;
    }
}
