body {
    margin: 0;
}


footer {
    display: flex;
    background-color: rgb(6, 54, 102);
    margin: 0;
    overflow: hidden;
    padding: 10px 10%;
    color:white;
}

.left {
    left: 0;
    display: block;
    width: 49%;
    height: 50%;
    border-radius: 4px;
}

h4{
    border-left: mediumblue;
}
