main {
    margin-bottom: 3%;
}


.splitInfoBox {
    display: flex;
    margin: 0 auto;
}

.leftInfoColumn {
    width: 50%;
    margin: 0 2.5%;
}

.leftInfoColumn > h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
}

.fb-container {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
}

.middleFiller {
    width: 2%;
}

.fb-page {
    width: 500px;
}

article > h1 {
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
}

.leftInfoColumn > h2 {
    font-size: max(14px, 1.5vw);
    color: rgb(41, 128, 187);
}
.leftInfoColumn > h3 {
    color: rgb(41, 128, 187);
}
.leftInfoColumn > h4 {
    font-size: 1.1em;
    color: rgb(6, 54, 102);
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dancerImg{
    width: 35%;
}

.announcmentcontainer > h1{
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
    margin-bottom: 0;
    text-align: center;
}
.announcmentcontainer > p{
    text-align: center;
    font-size: max(22px, 1.5vw);
}

@media screen and (max-device-width: 834px) {
    .splitInfoBox{
        flex-direction: column;
    }
    .leftInfoColumn{
        width: 100%;
        margin-bottom: 5vh;
        margin-left: 2.5%;
    }
    .fb-container{
        width: 100%;
    }
}
