main {
    margin-left: 15%;
    margin-right: 15%;
}


.splitInfoBox {
    display: flex;
}

.leftInfoColumn {
    left: 0;
    display: block;
    width: 49%;
    height: 50%;
    border-radius: 4px;
}

.leftInfoColumn > h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
}

.fb-container {
    display: block;
    width: 49%;
}

.middleFiller {
    width: 2%;
}

.fb-page {
    margin-left: 6%;
}

article > h1 {
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dancerImg{
    width: 35%;
}

.announcmentcontainer > h1{
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
    margin-bottom: 0;
    text-align: center;
}
.announcmentcontainer > p{
    text-align: center;
    font-size: max(22px, 1.5vw);
}
