h1 {
    font-size: max(22px, 3vw);
    color: rgb(41, 128, 187);
}

.teachersRowContainer {
    width: 100%;
    display: flex;
}

.teacherContainer {
    margin: 1%;
    border-radius: 4px;
    width: min(22%, 300px);
}
.teacherTextContainer {
    margin-left: 2%;
    margin-bottom: 2%;
}

.teacherImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: min(250px, 100%);
    max-height: 250px;
    border-radius: 50%;
}

.teacherName {
    margin-top: 4%;
    margin-bottom: 6%;
    font-size: 1.26em;
}
h1 {
    margin-left: auto;
    margin-right: auto;
}
.teachersContainer {
    display: block;

}
hr {
    margin: 10px;
}

main > article > div > div > div > a {
    text-decoration: none;
    color: black !important;;
}
