.teacherContainer {
    background-color: rgba(41, 128, 187, 0.82);
    display: flex;
    border-radius: 4px;
}
.teacherTextContainer {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 75%;
}
.teacherImgContainer {
    height: 100%;
    width: 25%;
}
.teacherImg {
    vertical-align: middle;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: min(262px, 90%);
    max-height: 90%;
}

.teacherName {
    margin-left: 35%;
    margin-right: auto;
}
